@media only screen and (min-width: 768px){
    .menu {
        font-size: 2.0rem;
    }
    
    .menu .col-sm-8 a {
        padding: 10px 20px;
    }

    .menu .col-sm-8 a:hover {
        border-radius: 6px;
        background: plum;
    
    }

    .about-us .col-lg-6 img {
        height: 150px;
        width: 150px;
    }
    
    .about-us .col-lg-6 h2 {
        font-size: 2.8rem;
    }

    .about-us .row::after {
        content: "";
        display: block;
        clear: both;
    }

    /* .google-day {
        margin-left: 150px;
    } */

    .reviews h2 {
        margin-bottom: 40px;
    }

    footer .social-media {
        text-align: right;
    }



    
}