@media only screen and (min-width: 1024px){
    .reviews h2 {
        font-size: 50px;
    }

    .reviews h4 {
        font-size: 1.8rem;
    }

}

@media only screen and (min-width: 1230px){
    .wrapper {
        width: 1200px;
        margin: 0 auto;
    }
}

